<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Grastronomic, restaurante, ubicación gastronomic, contacto, donde están">
    <meta name="description" content="Encuentra el mejor restaurante para toda la familia, también puedes dejar tu contacto para cualquier reservación o sugerencia.">
    <link rel="stylesheet" href="../css/css2/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacto Gastronomic</title>
</head>

<body>
    <header>
        <!-- INICIO MENU -->

        <nav class="navbar navbar-light bg-light ">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="../img/icon.png" alt="icon"
                        style="width: 40px; margin-left: 20px ;"></i></a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Gastronomía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="histoty.html">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="taste.html">Sabor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- FIN MENU-->
    </header>
    <main>
        <!-- INICIO DE UBICAICON -->

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31809.500300543405!2d-74.1035231604492!3d4.737456000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85673e0b68c1%3A0xf690eade06ed3b8c!2sGastronomy%20By%20juan!5e0!3m2!1ses!2sco!4v1648172819407!5m2!1ses!2sco"
                            width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" class="card-img-top mb-5 mb-md-0"></iframe>
                    </div>
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bolder">¿Dónde ubicarnos?</h1>

                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem
                            quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius
                            blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">

                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Como llegar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- INICIO FORMULARIO-->

        <div class="container-fluid px-1 py-5 mx-auto " style="background-color: rgba(186, 231, 231, 0.315);">
            <div class="row d-flex justify-content-center ">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">

                    <div class="card">
                        <h5 class="text-center mb-4">Formulario de contacto</h5>
                        <form class="form-card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Primer Nombre<span class="text-danger">
                                            *</span></label> <input type="text" id="fname" name="fname"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Primer Apellido<span class="text-danger">
                                            *</span></label> <input type="text" id="lname" name="lname"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Correo<span class="text-danger">
                                            *</span></label> <input type="text" id="email" name="email"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Phone number<span class="text-danger">
                                            *</span></label> <input type="text" id="mob" name="mob"> </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex"> <label
                                        class="form-control-label px-3">¿Quieres enviarnos un mensaje?<span
                                            class="text-danger"> *</span></label> <input type="text" id="ans"
                                        name="ans"> </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6"> <button type="submit"
                                        class="btn-block btn-primary">Enviar</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIN FORMULARIO -->

    </main>
    <!-- INICIO FOOTER-->

    <footer class="py-3 " style="background-color: #f7e7cd; color:black;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="histoty.html" class="nav-link px-2 text-muted">Historias</a></li>
            <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-muted">Menu</a></li>
            <li class="nav-item"><a href="taste.html" class="nav-link px-2 text-muted">Sabor</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-muted">Contacto</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Juana González</p>
    </footer>

    <!-- FINAL FOOTER-->
</body>

</html>