<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Menú comida, comidas, restaurantes, carta, desayunos, almuerzo, cena">
    <meta name="description" content="Aquí encontrarás todos los menús de nuestro restaurante, con gran variedad de sabores y menús infantiles para cualquier miembro de la familia">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/css2/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">


<body>
    <header>
        <!-- INICIO MENU -->

        <nav class="navbar navbar-light bg-light ">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="../img/icon.png" alt="icon"
                        style="width: 40px; margin-left: 20px ;"></i></a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Gastronomía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="histoty.html">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="taste.html">Sabor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- FIN MENU-->



        <!-- SVG IMAGEN -->

        <div style="height: 200px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-28.21,-42.91 C105.52,286.69 198.08,-69.55 502.82,29.13 L510.72,157.41 L-1.12,163.33 Z"
                    style="stroke: none; fill: rgb(138, 180, 138);"></path>
            </svg></div>


    </header>

    <main>

        <!-- INICIO GALERIA MENU -->

        <div class="album py-2 color_bgr_menu">
            <div class="container">
                <h2>Algunos de nuestros platos</h2>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 py-4  ">
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="http://c.files.bbci.co.uk/DBBF/production/_105055265_bandejapaisa.jpg"
                                alt="comida" class="bd-placeholder-img  -img-top img_radious" width="100%" height="225">
                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Platos-de-comida-que-pides-a-domicilio-y-puedes-hacer-en-casa_2.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://www.hola.com/imagenes/cocina/recetas/20191014150987/platos-de-lunes-a-viernes/0-729-376/brochetas-cordero-z.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>

                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://i.blogs.es/4c9325/1366_2000-17-/840_560.jpg" alt="comida"
                                class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2017-05/gastronomia%20colombiana.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://gastronomiaycia.republica.com/wp-content/uploads/2021/01/elplatoharvard_2-680x448.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>

                    <div class="col">
                        <div class=" shadow-sm width_change_img">

                            <img src="http://www.lacocinadealimerka.com/web/uploads/nutricion/.thumbs/ThinkstockPhotos-480238679_c43622.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://static-sevilla.abc.es/media/gurmesevilla/2012/01/comida-rapida-casera.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="                            https://www.cocinayvino.com/wp-content/uploads/2016/11/48507368_ml-e1480356693520-1200x675.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>
                </div>

            </div>

            <a class=" boton_universal  d-grid gap-1 col-3 mx-auto mb-4" href="views/histoty.html">Saber
                más</a>
        </div>

        <!-- FIN GALERIA MENU-->

        <!-- INICIO DE RECETA -->

        <section  class="section-padding">
            <div class="container py-5">
                <div class="section-content">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="heading-section text-center">
      
                                <h2>
                                    Nuestro Menu
                                </h2>
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="  col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Desayuno</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Huevo</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$30</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Arepa</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$40</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Cereal</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$50</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                        </div>
        
                        <div class=" col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Almuerzo</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Carne Molida</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$25</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Sopa</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$32</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Churrasco</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$59</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="  col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Cena</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Frijolada</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$22</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Pasta</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$12</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                
                                   
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Lazaña</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$14</h4>
                                        </div>
                                    </div>
                                    <p>Lorem, lorem ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN DE RECETA-->



        <!-- INICIO BOTÓN CONTACTENOS -->
        <div class="container-fluid" style="padding: 0 !important;">
            <div class="mx-auto">
                <div class="contenedor">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg"
                        class="img-fluid imagen_tamaño" alt="...">
                    <div class="centrado"><a class=" hover_boton_universal  d-grid gap-1 col-6 mx-auto m-4 "
                            href="views/histoty.html">Contáctanos</a></div>
                </div>
            </div>
        </div>
        <!-- FIN BOTÓN CONTACTENOS-->
    </main>
    <!-- INICIO FOOTER-->

    <footer class="py-3 " style="background-color: #f7e7cd; color:black;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="histoty.html" class="nav-link px-2 text-muted">Historias</a></li>
            <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-muted">Menu</a></li>
            <li class="nav-item"><a href="taste.html" class="nav-link px-2 text-muted">Sabor</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-muted">Contacto</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Juana González</p>
    </footer>

    <!-- FINAL FOOTER-->
</body>

</html>